@font-face {
    font-family: Gotham-Medium ;
    src: url(../fonts/Gotham-Medium.otf);
}
@font-face {
    font-family:Gotham-Thin ;
    src: url(../fonts/Gotham-Thin.otf);
}
@font-face {
    font-family: Gotham-Ultra;
    src: url(../fonts/Gotham-Ultra.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}

/* header */
header{
    width: 100%;
    background-color: #fff;
    padding: .5rem 0;
}
.header_logo{
    width: 5rem;
    height: 5rem;
}

.header_logo img{
    width: 100%;
}

nav{
    height:100%;
}

nav ul{
    line-height:100%;
}

nav ul li{
     padding: 0 1.5rem;
}

nav ul li a{
    display: block;
    font-family: Gotham-Medium;
    color: #000;
    text-transform: uppercase;
    position: relative;

}
nav ul li a:hover{
     color: #bd945f;
     transition: .3s;
     text-decoration: none;
}

nav ul li .active::after{
    position: absolute;
    content: '';
    bottom: -.5rem;
    left: 0;
    width: 70%;
    height: 5px;
    background-color: #bd945f;
    animation-name: hover;
    animation-duration: .3s;
}
@keyframes hover {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

/* banner  */


/* footer */

footer {
    background-color: #363636;
    padding: 5rem 0;

}

.footer-item h6{
    text-transform: uppercase;
    color: #fff;
    position: relative;
    margin-bottom: 1.5rem;

    
}

.footer-item h6::after{
    position: absolute;
    content:"";
    bottom:-0.5rem;
    left: 0;
    width:20%;
    height: 4px;
    background-color: #fff;
}

.footer-item h5{
    text-transform: uppercase;
    color: #fff;

}

.footer-item ul li{
    color: #fff;

}
.footer-item ul li i{
    margin-right: 0.8rem;
    width: 1rem;
    
}

.footer-item .footer-item-icon{
    color: #fff;
    font-size: 1.8rem;
    margin-right: 0.5rem;
}