.main {
    padding-bottom: 100rem;
    background-color: #f3f3f3;
}


/* banner */

.banner {
    background-image: url('../pictures/banner.png');
    height: 40rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-info {
    width: 100%;
    height: 100%;
    padding: 5rem 3.5rem;
    text-align: center;
    align-items: center;
    color: #fff;
}

.banner-info__img {
    margin: 2rem 0;
}

.banner-info h1 {
    margin: 0;
    word-spacing: 10px;
    font-family: Gotham-Ultra;
    text-transform: uppercase;
}


/* container */

.main>.container {
    position: relative;
    width: 100%;
    padding-bottom: 6rem;
    /* background-color: #f3f3f3; */
}

.product {
    padding: 3rem;
    background-color: #fff;
}

.product {
    position: absolute;
    top: -3rem;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.box {
    padding: 2rem;
}

.box h3 {
    color: #000;
    font-family: Gotham-Ultra;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    margin: 2rem auto 3rem;
}

.box h3::after {
    position: absolute;
    content: '';
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 7px;
    background-color: #db945f;
}

.box-img {
    width: 100%;
    height: 20rem;
    padding: 0 2rem 0 2rem;
    overflow: hidden;
    margin-bottom: 3rem;
}

.box-img img {
    width: 100%;
    object-fit: cover;
}

.box-info {
    padding: 0 2rem 0 2rem;
}

.box-info p {
    color: #000;
    font-size: 1rem;
    text-align: justify;
}

.box-info__text {
    padding: 0 2rem;
}

.container h3 {
    color: #000;
    font-family: Gotham-Ultra;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    margin: 2rem auto 3rem;
}

.container h3::after {
    position: absolute;
    content: '';
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 7px;
    background-color: #db945f;
}

.why-item {
    padding: 1rem;
}

.why-item-info {
    display: flex;
    border: 2px solid #db945d;
    padding: .5rem 2rem;
    align-items: center;
    background-color: #fff;
    justify-content: start;
}

.why-item-info img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

.why-item-info p {
    color: #000;
    margin: 0;
    text-transform: uppercase;
    color: #db945f;
    font-family: Gotham-Ultra;
}

.why-item-info span {
    color: #000;
    font-family: Gotham-Ultra;
    font-size: .7rem;
}