.main {
    padding-bottom: 34rem;
    background-color: #f3f3f3;
}


/* banner */

.banner {
    background-image: url('../pictures/banner.png');
    height: 40rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-info {
    width: 100%;
    height: 100%;
    padding: 5rem 3.5rem;
    text-align: center;
    align-items: center;
    color: #fff;
}

.banner-info__img {
    margin: 2rem 0;
}

.banner-info h1 {
    margin: 0;
    word-spacing: 10px;
    font-family: Gotham-Ultra;
    text-transform: uppercase;
}


/* contact */

.contact {
    position: relative;
    width: 100%;
}

.contact .container {
    position: absolute;
    top: -3rem;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 4rem;
}

.conntact__left {
    width: 10rem;
    height: 10rem;
}

.conntact__left img {
    width: 100%;
    object-fit: cover;
}

.contact__right {
    padding-left: 3rem;
}

.contact__right h3 {
    color: #db945d;
    text-transform: uppercase;
    font-family: Gotham-Ultra;
}

.contact__right input {
    width: 100%;
    height: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #db945d;
}

.contact__right button {
    width: 6rem;
    color: #fff;
    border: none;
    margin: 1rem 0;
    padding: 0.6rem 0;
    background-color: #db945d;
    cursor: pointer;
}