.slide {
    Width: 100%;
    height: 35rem;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-indicators li {
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 50% !important;
    margin: 0 0.5rem !important;
}

.carousel-indicators .active {
    background-color: #bd945f !important;
}

.box {
    background-color: #fff;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.box-title h3 {
    color: #2c2e53;
    width: fit-content;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2rem;
    font-family: Gotham-Ultra;
}

.box-title h3::after {
    position: absolute;
    content: "";
    bottom: -.5rem;
    left: 0;
    width: 70%;
    height: 7px;
    background-color: #bd945f;
}

.box-title a {
    color: #555;
    text-transform: uppercase;
    font-family: Gotham-Medium;
}

.product-item {
    text-align: center;
}

.product-item p {
    font-weight: bold;
    font-family: Gotham-Ultra;
}

.product-item-img {
    width: 100%;
    height: 14rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.product-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item a {
    color: #2c3e53;
    text-transform: uppercase;
    font-family: Gotham-Ultra;
    margin: 0;
}

.product-item h6 {
    color: #2c2c2c;
    text-transform: uppercase;
    font-family: Gotham-Ultra;
    margin: 0;
}

.product-item-icon i {
    color: #db945f;
    font-size: .7rem;
}

.product-item span {
    color: #888;
    font-family: Gotham-Medium;
    font-size: .7rem;
}